/* Put your css in here */

.input-group .ng-valid.ng-dirty {
  border: solid 1px green;
}

.input-group .ng-invalid.ng-dirty {
  border: solid 1px red;
}

.input-group-btn {
  float: right;
}

.todoForm {
  margin-bottom: 150px;
}

.created-todo-list .form-group-top {
  margin-top: 100px;
}