<form class="created-todo-list" ng-submit="update(todo, todo.title, todo.content)">
  <div class="form-group-top">
    <h3>{{ $index + 1 }}번째 ToDo</h3>
    <label for="todoTitle-{{ $index }}">제목</label>
    <input type="text" class="form-control" id="todoTitle-{{ $index }}" ng-model="todo.title">
  </div>

  <div class="form-group">
    <label for="todoContent-{{ $index }}">내용</label>
    <textarea class="form-control" id="todoContent-{{ $index }}" ng-model="todo.content"></textarea>
  </div>

  <span class="input-group-btn">
    <button class="btn btn-danger" type="button" ng-click="remove(todo)">삭제</button>
  </span>

  <span class="input-group-btn mr-2">
    <button class="btn btn-success" type="submit">수정</button>
  </span>
</form>
<date>{{ todo.createdAt | date:'yyyy-MM-dd HH시 mm분 ss초' }}</date>